@theme inline {
    --color-title: var(--color-title);
    --color-description: var(--color-description);
}

:root {
    --color-title: var(--color-gray-900);
    --color-description: var(--color-gray-700);
}

.dark {
    --color-title: var(--color-gray-50);
    --color-description: var(--color-gray-600);
}