@theme inline {
    --font-sans: var(--font-inter);

    --text-10: 0.625rem; /* 10px */
    --text-12: 0.75rem;   /* 12px */
    --text-14: 0.875rem;  /* 14px */
    --text-16: 1rem;      /* 16px */
    --text-18: 1.125rem;  /* 18px */
    --text-20: 1.25rem;   /* 20px */
    --text-24: 1.5rem;    /* 24px */
    --text-28: 1.75rem;   /* 28px */
    --text-30: 1.875rem;  /* 30px */
    --text-32: 2rem;      /* 32px */
    --text-36: 2.25rem;   /* 36px */

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}