@import "tailwindcss";

@import "../../styles/colors.css";
@import "../../styles/typography.css";
@import "../../styles/font-theme.css";

@import "../../styles/input-theme.css";
@import "../../styles/assets.css";

@theme {
    --color-main-bg: var(--main-bg);
    --color-main-text: var(--main-text);
    --color-main-border: var(--main-border);
}

@variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --font-inter: "Inter", sans-serif;

        --main-bg: var(--color-gray-50);
        --main-text: var(--color-gray-900);
        --main-border: var(--color-gray-300);
    }

    .dark {
        --main-bg: var(--color-brand-950);
        --main-text: var(--color-gray-50);
        --main-border: var(--color-brand-700);
    }

    ::-webkit-scrollbar { width: 8px; height: 8px; }
    ::-webkit-scrollbar-track { background: var(--color-input-bg); border-radius: 10px; }
    ::-webkit-scrollbar-thumb {
        background: var(--color-input-border);
        border-radius: 10px;
        border: 2px solid var(--color-input-bg);
    }
    ::-webkit-scrollbar-thumb:hover { background: var(--color-input-focus-border); }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-input-border) var(--color-input-bg);
    }
}